#navbar{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#navbar li{
	float: left;
	list-style-type: none;
	padding: 10px 30px;
	display: none;
}
#navbar ul{
	float: right;

}

#menu-buttonbeg{
	width: 40px;
	margin: -10 10px;
	position: absolute;
	right: 80px;
	top: 30px;
}
#menu-buttonend{
	width: 40px;
	margin: -10 10px;
	position: absolute;
	right: 80px;
	top: 30px;
}

#image-container{
	height: 600px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 57px;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	width: 960px;


}

#img-format{
	width: auto;
	height: 600px;
	padding: 50px 0 50px 0;
	position: absolute;
	z-index: 1;
	left: 8.8%;
	float: right;
	margin: 0 auto;
	left: 100px;
	right: 100px;
	
}



.gallery{
	float: left;
	margin: 30px 30px 0 30px;
	width: 900px;
	height: 720px;
	padding: 20px;
}

.gallery:hover{

}

#button-wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#buttons{
	width: auto;
	position: absolute;
	margin: auto;
	left: 20px;
	right: 70px;

}


#a-left, #a-right{
	position: absolute;
	z-index: 2;
	top: 290px;
	margin: auto;
	width: auto;
	border: none;
	outline: none;
	color: #fff;
	font-size: 100px;

}

#a-left{
	left: 100px;
}

#a-right{
	right: 100px;
}

#a-left:hover, #a-right:hover{
	opacity: .5;
	outline: none;
}


footer{
clear: both;
padding: 20px;
margin-top: 650px;


}

